@font-face {
    font-family: '8-bit_pusabregular';
    src: url('../fonts/8-bit-pusab-webfont.woff2') format('woff2'),
         url('../fonts/8-bit-pusab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    user-select: none; /* Previene la seleccion al hacer doble click */
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(24, 24, 24);
    font-family: '8-bit_pusabregular';
}

section {
    display: flex;
    margin: auto;
}

.main {
    margin: auto;
}

/* ----------------------- FASE 1 ----------------------- */
#fase1 img {
    width: 80em;
    height: 65em;
    margin:auto;
    border: black solid 1px;
}

/* ----------------------- FASE 2 ----------------------- */
.main_coches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80em;
    height: 65em;
    background-image: url(../img/eleccion.jpg);
    background-size: cover;
    background-position: center;
}

.indv_coche{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cars {
    height: 7em;
    min-width: 5em;
}

.desc{
    height: 1em;
    color: white;
    padding:1em 0 0 0;
    font-size: 0.8em;
}

.btn {
    height: 4em;
    width: 7em;
    padding-top:1em;
    cursor: pointer;
}

.greyscale {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.gif{
    width: 13em;
}
/* ----------------------- FASE 3 ----------------------- */
#fase3 {
    border: black solid 1px;
    color: white;
    background-image: url(../img/carrera.jpg);
}

#race_cont {
    width: 80em;
    height: 65em;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#racer1 {
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#race {
    width: 30em;
    display: flex;
    background-image: url(../img/road.jpg);
    background-size: cover;
    justify-content: space-around;
}

#car1 {
    height: 10em;
    position: relative;
    bottom: -850px;
}

#car2 {
    height: 10em;
    position: relative;
    bottom: -850px;
}

#racer2 {
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1_car img{
    width: 15em;
}

#p2_car img{
    width: 15em;
}

#p1_data {
    text-align: center;
}

#p2_data {
    text-align: center;
}

.boton{
    position:absolute;
    height: 8em;
    width: 10em;
    left: 35em;
    bottom: 1em;
    background-image:url(../img/unpressed.png);
    background-size: cover;
}

.boton:active {
    background-image:url(../img/pressed.png);
}

/* ----------------------- FASE 4 ----------------------- */
#fase4 {
    margin: auto;
    width: 80em;
    height: 65em;
    background-image: url(../img/fin.jpg);
    background-size: cover;
    background-position: bottom center;
    border: black solid 1px;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fase4 img {
    padding-top: 8em;
    height: 30vh;
    width: 30vh;
}

#ganador {
    color:rgb(255, 217, 0);
    font-size: 2.5em;   
}

#fase4 input{
    margin-top: 5em;
    font-family: '8-bit_pusabregular';
    background-color: rgb(97, 244, 255);
}

#campeon img {
    height: 15vh;
    width: 15vh;
}