@font-face {
    font-family: '8-bit_pusabregular';
    src: url('../fonts/8-bit-pusab-webfont.woff2') format('woff2'),
         url('../fonts/8-bit-pusab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    user-select: none; /* Previene la seleccion al hacer doble click */
    background-color: rgb(24, 24, 24);
}

.container{
    width: 100vw;
    margin: auto;
    display: flex;
    font-family: '8-bit_pusabregular';
}

/* ----------------------- FASE 1 ----------------------- */
#fase1 {
    margin: auto;
    height: 65em;
    width: 80em;
}

#fase1 img {
    height: 100%;
    width: 100%;
}

/* ----------------------- FASE 2 ----------------------- */
#fase2 {
    margin: auto;
    height: 65em;
    width: 80em;
    background-image: url(../img/eleccion.jpg);
    background-size: cover;
    background-position: center;
}

.main_coches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;  
}

.indv_coche{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cars {
    height: 7em;
    min-width: 5em;
}

.desc{
    height: 1em;
    color: white;
    padding:1em 0 0 0;
}

.btn {
    height: 4em;
    width: 7em;
    padding-top:1em;
    cursor: pointer;
}

.greyscale {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.gif{
    width: 10em;
}
/* ----------------------- FASE 3 ----------------------- */
#fase3 {
    margin: auto;
    height: 65em;
    width: 80em;
    border: black solid 1px;
    color: white;
    background-image: url(../img/carrera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#race_cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
}

#racer1 {
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#race {
    width: 25em;
    display: flex;
    background-image: url(../img/road.jpg);
    background-size: cover;
    background-position: center;
    align-items:flex-end;
}

#car1 {
    height: 9em;
    position: relative;
    left: 1.5em;
}

#car2 {
    height: 9em;
    position: relative;
    right: -5.5em;
}

#racer2 {
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1_car img{
    width: 15em;
}

#p2_car img{
    width: 15em;
}

#p1_data {
    text-align: center;
}

#p2_data {
    text-align: center;
}

.preBoton {  /* Esto es solo para poder usar posicion relativa "sin ocupar espacio" */
    position: relative;
    height: 0;
    width: 0;
}

.boton{
    position:relative;
    height: 6.5em;
    width: 8em;
    right: 4em;
    top: 9em;
    background-image:url(../img/unpressed.png);
    background-size: cover;
}

.boton:active {
    background-image:url(../img/pressed.png);
    background-size: contain;
}

/* ----------------------- FASE 4 ----------------------- */
#fase4 {
    height: 65em;
    width: 80em;
    margin: auto;
    background-image: url(../img/fin.jpg);
    background-size: cover;
    background-position: bottom center;
    border: black solid 1px;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fase4 img {
    margin-top: 5em;
    height: 20em;
    width: 20em;
}

#ganador {
    color:rgb(255, 217, 0);
    font-size: 3em;   
}

#fase4 input{
    margin-top: 5em;
    font-family: '8-bit_pusabregular';
    font-size: 1em;
    background-color: rgb(97, 244, 255);
}

#campeon img {
    margin-top: 8em;
    width: 10em;
    height: 10em;
}

/* Media Queries */

@media (max-width: 1000px){
    body{
        font-size: 8px;
    }
}
@media (max-width: 748px){
    body{
        font-size: 0.55em;
    }
}
@media (max-width: 553px){
    body{
        font-size: 0.35em;
    }
}